/* 
1. Customize a aparência dos links da seguinte forma:
Por padrão, devem ter a cor de destaque e estarem em negrito.
Se sobrepostos, devem ter sua cor alterada para uma tonalidade mais clara/escura. Os links visitados não devem ficar mais em negrito.
2. Vamos dar um destaque a primeira letra do primeiro parágrafo da seção principal. Você deverá customizá-lo para que:
Tenha tamanho de fonte 3 vezes maior que o padrão.
Seja de uma fonte diferente da escolhida para o site.
Fique flutuando a esquerda.
OBS: você precisará aplicar mais de um pseudo-seletor para realizar essa estilização. Fique atento!
3. Utilize bordas para criar um separador entre os itens presentes no menu de design. Aplique uma borda superior no topo de todos os itens de menu.
Aplique uma borda inferior apenas no último item da lista
Envie nessa atividade com o link do projeto no GitHub.
*/
a{
    color:rgb(128, 0, 128);
    font-weight: bold;
}

a:visited{
    font-weight: 400;
    color: #1f295c;
}
a:hover{
    color:rgb(242, 0, 242, 0.842);
}
.main p:first-of-type:first-letter{
    font-size:3em;
    font-family:fantasy;
    float:left;
}
.design-selection li{
    border-top:rgb(128,0,128) solid 1px;
    padding-top: 3px;
}
.desugn-selection li:last-of-type{
    border-bottom:rgb(128, 0, 128) solid 1px;
    padding-bottom: 3px;

}
.page-wrapper{
    background: rgb(229, 192, 244);
    color: rgb(33, 33, 33);
    font-size: 20px;
    font-family:Trebuchet,sans-serif;
    width:auto;
    max-width:1280px;
    position: relative;
}

#zen-intro header{
    color:rgb(229, 192, 244) ;
    background-color:rgb(33, 33, 33);
}

#zen-intro header h1, #zen-intro header h2{
    display: inline-block;
}

#zen-intro header h1{
    margin-right: 1em;
    margin-left: 1em;
}

h1,h1,h3{ 
    text-align:center;
}

h1{
    font-size: 1.8 rem;
}

h2{
    font-size: 1.4 rem;
}

h3{
    font-size:1.2 rem;
}

abbr{
    font-variant: small-caps;
}

p{
    text-indent: 1em;
}

#zen-intro{
    height: 550px;
}

.main p{
    line-height: 1.5;
}

.sumary{
    text-align:center;
}

.explanation{
    width:60%;
    margin-right: 35%;
    border-right: solid 1px #1f295c;
    padding-right: 2%;
}

.participation{
    display:flex;
    border-top: #1f295c 2px solid;
    border-bottom: #1f295c 2px solid;
    flex-wrap: wrap;
}

.participation h3, .participation p{
    flex-basis: 50%;
 
}

.participation h3{
    align-self: center;   
}

.benefits{
    display:flex;
    border-top: #1f295c 2px solid;
    border-top:none;
    border-bottom: #1f295c 2px solid;
}

.benefits h3{
    order:2;
    align-self: center;
    flex-basis:30%;   
}

.benefits p{
    order:1;
    flex-basis:70%;
}

.supporting footer{
    margin:4%;
    display: flex;   
    justify-content: space-around;
    flex-wrap:wrap; 
}

.supporting footer a{
    border: solid 2px rgb(128, 0, 128);
    padding:0.5em;  
}

#design-selection{
    position:absolute;
    top:500px;
    left:62% ;
    padding-left: 1%;
    padding-right:1%;
}

aside ul{
    list-style-type:none;
}

aside ul li{
    margin:1em;
    text-align:center;
}

#design-archives{
    display:none;
}

/*
Paleta de cores
Cor destaque => rgb(128, 0, 128);
Cor secundária => rgb(0, 202, 87)
Cor da fonte => rgb(33, 33, 33);
Cor do Fundo => rgb(229, 192, 244). 
}*/